.lead__logo {
    display: flex;
    width: 270px;
    height: 70px;
    align-items: center;
    margin: 0 auto 0 auto;
    padding-top: 34px;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .lead__logo{
        display: flex;
        align-items: center;
        width: 200px;
        height: 51.85px;
        margin: 0 auto;
    }
}