.cover__container-title {
    width: 656px;
    margin: 243px auto 0;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #fffdfd;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .cover__container-title{
        width: 288px;
        margin: 46px auto 0;

        font-size: 32px;
        line-height: 35px;
    }
}