.place__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    grid-area: title;
}

@media screen and (max-width: 768px) {
    .place__title{
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 0;
        margin-top: 145px;

    }
}
@media screen and (max-width: 320px){
    .place__title{
        width: 288px;
        margin: 66px 16px 0;
        font-size: 32px;
        line-height: 35px;
        grid-area: title; 
    }
}

