.photo-grid {
    width: 1184px;
    margin: 66px auto 92px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: auto;
}

@media screen and (max-width: 768px) {
    .photo-grid{
        width: 720px;
        margin: 38px 24px 88px;
    }
}

@media screen and (max-width: 320px){
    .photo-grid{
        width: 288px;
        margin: 0 16px;
    }
}