.place__website-artist {
    width: 316px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 0;
}


@media screen and (max-width: 320px){
    .place__website-artist{
        margin: 0;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.10em;
        text-transform: uppercase;
    }
}

