.cover {
    width: 1184px;
    min-height: 740px;
    margin: 92px auto 0;
    display: flex;
    flex-wrap: wrap;

    background-image: url(../../images/cover__background.png);
}

@media screen and (max-width: 768px){
    .cover{
        width: 768px;
        min-height: 740px;
        margin: 92px 0 88px; 
    }
}

@media screen and (max-width: 320px){
    .cover{
        width: 320px;
        min-height: 254px;
        background-size: 100% 100%;
        object-fit: cover;
        margin: 64px auto 0;

    }
}