.place__paragraph-link {
    width: 308px;
    padding: 13px 20px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-color: #0278fe;
    text-decoration: none;
    text-align: center;
    grid-area: frame;
    box-sizing: border-box;
    margin: 0 auto 79px 0;
}

.place__paragraph-link:hover{
    background: #0063d2;
}

@media screen and (max-width: 768px){
    .place__paragraph-link{
        margin: 0 auto 259px 0;
    }
}

@media screen and (max-width: 320px){
    .place__paragraph-link{
        margin: auto;
    }
}