.place {
    width: 984px;
    display: grid;
    grid-template-rows: auto 460px auto;
    grid-template-columns: 460px;
    grid-gap: 2.5em;
    grid-template-areas: 
    "title website"
    "image paragraph"
    "frame paragraph";
    margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place {
        width: 320px;
        display: grid;
        grid-template-rows: auto auto 320px auto auto;
        grid-template-columns: 320px;
        grid-gap: 1.8em;
        grid-template-areas:
        "title"
        "website"
        "image"
        "paragraph"
        "frame";
        margin: auto;
    }

}
    
/*
@media screen and (max-width: 768px) {
    .place{
        width: 720px;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 340px 375px;
        grid-gap: 1.7em;
        grid-template-areas: 
        "title website"
        "image paragraph"
        "frame paragraph";
        margin: auto;
    }
}
*/
