.place__website {
    list-style: none;
    padding: 0;
    margin: 0;
    grid-area: website;
}


@media screen and (min-width: 320px) and (max-width: 767px){
    .place__website{
        list-style: none;
        padding: 0;
        margin: 0 auto 0 16px;
        grid-area: website;
    }
}
