.place__website {
    list-style: none;
    padding: 0;
    grid-area: website;
}

@media screen and (max-width: 320px){
    .place__website{
        list-style: none;
        padding: 0;
        margin: 0 16px;
        grid-area: website;
    }
}
