.page {
    background-color: #2A2C2F;
    max-width: 1280px;
    margin: auto;
}


/*block lead*/
.lead {
    width: 984px;
    margin: 0 auto 0 auto;
}

.lead__logo {
    display: flex;
    width: 270px;
    height: 70px;
    align-items: center;
    margin: 0 auto 0 auto;
    padding-top: 34px;
    
}

.lead__title {
    color: #FFFFFF;
    width: 793px;
    height: 200px;
    text-align: center;
    margin: 90px auto 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

.lead__subtitle {
    color: #FFFFFF;
    width: 720px;
    height: 72px;
    text-align: center;
    margin: 32px auto 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.lead__kalegin-michail {
    width: 984px;
    height: 615px;
    margin: 64px auto 0 auto;

    background: #000000;
    mix-blend-mode: hue;
}

/*intro*/
.intro {
    width: 883px;
    
}

.intro__title {
    width: 883px;
    height: 116px;
    left: 148px;
    top: 92px;
    margin: 92px auto 0 148px;

    font-family: 'inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}

.intro__text {
   width: 758px;
   height: auto;
   margin: 40px auto 0 148px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 34px;
   color: #FFFFFF;
}

.intro__text-name{
    width: 720px;
    height: auto;
    margin: 0 auto 0 148px;
    padding-right: 38px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    color: #FFFFFF;    
}

.intro__text-deductive {
    width: 720px;
    height: 208px;
    margin: 16px auto 0 148px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 480;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

/*photo-grid*/
.photo-grid {
    width: 1184px;
    height: 442px;
    margin: 66px auto 92px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: auto;
}

.photo-grid__item {
    width: 288px;
    height: 216px;
}

/*places*/
.places {
    display: flex;
    flex-wrap: wrap;
    row-gap: 93px;
}

.place {
    width: 984px;
    display: grid;
    grid-template-rows: auto 460px auto;
    grid-gap: 2.5em;
    grid-template-areas: 
    "title website"
    "image paragraph"
    "frame paragraph";
    margin: auto;
}

.place__title {
    margin: 0;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    grid-area: title;
}

.place__image {
    width: 460px;
    height: 460px;
    grid-area: image;
}

.place__website {
    list-style: none;
    margin: 0;
    padding: 0;
    grid-area: website;
}

.place__website-url-heading {
    width: 41px;
    height: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin-top: 85px;
    margin-bottom: 8px;
}

.place__website-artist {
    width: 456px;
    height: 44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.paragraph-container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    grid-area: paragraph;
}

.place__paragraph {
    width: 484;
    height: auto;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.place__paragraph-link {
    width: 308px;
    height: 48px;
    padding: 13px 20px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-color: #0278fe;
    text-decoration: none;
    text-align: center;
    grid-area: frame;
    box-sizing: border-box;
}

/*cover*/
.cover {
    width: 1184px;
    height: 740px;
    margin: 92px auto 0;
    display: flex;
    flex-wrap: wrap;

    background-image: url(../images/cover__background.png);

    
}

.cover__container {
    width: 656px;
    height: 254px;
    margin: 243px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.cover__container-title {
    width: 656px;
    margin: auto;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #fffdfd;
}

.cover__container-subtitle {
    width: 280px;
    margin: auto;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF
}

.cover__link {
    width: 137px;
    margin: 32px auto 0;
    padding: 13px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0278fe;
    border-radius: 4px;
    text-decoration: none;
}

.cover__background{
    width: 1184px;
    z-index: 2;
}

/*footer*/
.footer {
    width: 213px;
    margin: 92px auto 8px;
}

.footer__copyright {
    width: 213px;
    height: 32px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;

}