.intro__title {
    width: 883px;
    margin: 92px auto 0 148px;

    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .intro__title {
        width: 720px;
        
        margin: 88px auto 0 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro__title{
        width: 300px;
        font-size: 32px;
        line-height: 35px;
        margin: 64px auto 0 0;
    }
}